{{ define "main" }}

<section id="about" class="home-section wg-about   ">
    <div class="container">
        <div class="article-container pt-3">
            <h1 align="center">{{.Params.title | safeHTML}}</h1>
            <div class="space-below"></div>
            <div class="text-center">
                <ul class="list-inline">
                    {{/* {{ $institutions := .Params.institutions }} */}}
                    {{ range $author := .Params.authors }}
                    <li class="list-inline-item"><a href="{{ .url }}" class="author-link">{{ .name }}</a>
                        <sup>{{ .affiliation }}</sup>
                    </li>
                    {{ end }}
                </ul>

                <ul class="list-inline">
                    {{ range $number, $info := .Params.institutions }}
                    <li class="list-inline-item">
                        <sup>{{ $number }}</sup>
                        <a href="{{ $info.url }}">{{ $info.name }}</a>
                    </li>
                    {{ end }}
                </ul>
                {{ range .Params.Paper }}
                <a href="{{ .url }}" class="venue-link"> {{ .venue }} </a>
                {{ end }}
            </div>
            <div class="space-below"></div>

            <div class="btn-links mb-3">
                {{ range .Params.buttons }}
                <a class="btn btn-outline-primary my-1 mr-1 {{ if eq .name " Cite" }}js-cite-modal{{ end }}"
                    href="{{ .url }}" {{ if ne .name "Cite" }}target="_blank" rel="noopener" {{ end }}>
                    {{ .name }}
                </a>
                {{ end }}
            </div>
        </div>
        {{ range .Params.method }}
        <div class="article-container featured-image-wrapper mt-4 mb-4">
            <img loading="lazy" src="{{ .fig }}" alt="" class="featured-image">
            <figcaption class="text-center text-muted mt-2"> {{ .content }} </figcaption>
        </div>
        {{ end }}

        <div class="article-container" style="text-align: justify;">
            {{ range .Params.abstract }}
            <h3>{{ .name }}</h3>
            <p class="pub-abstract">{{ .content | markdownify }}</p>
            {{ end }}
            <div class="space-below"></div>

            <div class="article-style">
                {{.Content}}
            </div>

            {{ with .Params.video }}
            <div class="article-style">
                <video controls>
                    <source src="{{ . }}" type="video/mp4">
                </video>
            </div>
            {{ end }}

            <div class="article-tags">
                {{ range .Params.tags }}
                <a class="badge badge-light" href="/tag/computer-graphics">{{ . }}</a>
                {{ end }}
                {{/* <a class="badge badge-light" href="/tag/computer-vision/">computer vision</a>
                <a class="badge badge-light" href="/tag/computer-graphics/">computer graphics</a>
                <a class="badge badge-light" href="/tag/machine-learning/">machine learning</a>
                <a class="badge badge-light" href="/tag/rendering/">rendering</a>
                <a class="badge badge-light" href="/tag/brdf/">brdf</a>
                <a class="badge badge-light" href="/tag/texture/">texture</a>
                <a class="badge badge-light" href="/tag/material/">material</a> */}}
            </div>
        </div>
    </div>
</section>

<!-- Simple Citation Modal -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-body">
            <pre><code></code></pre>
        </div>
    </div>
</div>
{{ end }}