<nav class="navbar navbar-expand-lg navbar-light compensate-for-scrollbar" id="navbar-main">
    <div class="container">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-content"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span>
                <i class="fas fa-bars"></i>
            </span>
        </button>

        <div class="navbar-collapse main-menu-item collapse justify-content-start" id="navbar-content">

            <ul class="navbar-nav d-md-inline-flex">
                {{ range .Site.Data.menus.main }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .url }}" data-target="{{ .url }}">
                        <span>{{ .name }}</span>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>

        <!-- News scroll -->
        <div class="news-scroll-wrapper">
            <div class="news-label">NEWS</div>
            <div class="news-ticker">
                <div class="news-content">
                    {{ range first 1 .Site.Home.Params.news }}
                    <span class="news-item"> &bull; {{ . | safeHTML }}</span>
                    {{ end }}
                </div>
            </div>
        </div>
        <!-- End News scroll -->
    </div>

</nav>