<div class="container">

    <div class="row ">

        <div class="col-12 col-lg-4 section-heading">
            <h1>Projects</h1>
        </div>

        <div class="col-12 col-lg-8">
            {{ with .Site.GetPage "/projects" }}
            {{ range sort .Pages ".Params.weight" "desc" }}

            <div class="media stream-item" itemscope itemtype="http://schema.org/CreativeWork">

                <div class="media-body">

                    <h3 class="article-title mb-0 mt-0" itemprop="name">
                        <a href="{{ .RelPermalink }}" itemprop="url">
                            {{ .Params.title }}
                        </a>
                    </h3>

                    <div class="stream-meta article-metadata">

                        <div itemprop="author">
                            {{ $maxWeight := -1 }}
                            {{ range .Params.authors }}
                            {{ if gt .weight $maxWeight }}
                            {{ $maxWeight = .weight }}
                            {{ end }}
                            {{ end }}
                            {{ $sortedAuthors := sort .Params.authors "weight" "asc" }}
                            {{ range $index, $author := $sortedAuthors }}
                            {{ if eq .name $.Site.Data.admin.author.name }}
                            <span>
                                <a href="/" class="author-link"><strong>{{ $author.name }}</strong></a>{{ if ne .weight
                                $maxWeight
                                }},{{ end }}
                            </span>
                            {{ $index := $index | add 1 }}
                            {{ else }}
                            <span>
                                <a href="{{ $author.url }}" class="author-link">{{ $author.name }}</a>{{ if ne .weight
                                $maxWeight
                                }},{{ end }}
                            </span>
                            {{ end }}
                            {{ end }}
                        </div>


                        <div class="">
                            {{ range $index, $paper := .Params.Paper }}
                            <strong>
                                <a href="{{ $paper.url}}" class="venue-link"> {{ $paper.venue }}</a>
                            </strong>
                            {{ end }}
                        </div>
                    </div>

                    <div class="btn-links">
                        {{ range .Params.buttons }}
                        <a class="btn btn-outline-primary my-1 mr-1 btn-sm {{ if eq .name " Cite" }}js-cite-modal{{ end
                            }}" href="{{ .url }}" {{ if ne .name "Cite" }}target="_blank" rel="noopener" {{ end }}>
                            {{ .name }}
                        </a>
                        {{ end }}
                    </div>

                </div>
                <div class="ml-3">
                    <a href="{{ .RelPermalink }}">
                        <img src="{{ .RelPermalink }}{{ .Params.teaser }}" itemprop="image">
                    </a>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>