<div class="container">

    <div class="row ">

        <div class="col-12 col-lg-4 section-heading">
            <h1>Publications</h1>
        </div>

        <div class="col-12 col-lg-8">
            {{ with .Site.GetPage "/publication" }}
            {{ range sort .Pages ".Params.weight" "desc" }}

            <div class="media stream-item" itemscope itemtype="http://schema.org/ScholarlyArticle">

                <div class="media-body">

                    <h3 class="article-title mb-0 mt-0" itemprop="name">
                        {{/* <a href="{{ .Params.projecturl }}" itemprop="url">{{ .Params.title }}</a> */}}
                        <a href="{{ if .Params.projecturl }}{{ .Params.projecturl }}{{ else }}{{ .RelPermalink }}{{ end }}"
                            itemprop="url">
                            {{ .Params.title }}
                    </h3>

                    <div class="stream-meta article-metadata">

                        <div itemprop="author">
                            {{ $sortedAuthors := sort .Params.authors "weight" "asc" }}
                            {{ $adminName := $.Site.Data.admin.author.name }} <!-- Get the admin's name -->

                            {{ range $index, $author := $sortedAuthors }}
                            {{ if eq $author.name $adminName }}
                            <span>
                                <a href="/"><strong>{{ $author.name }}</strong></a>
                            </span>

                            {{ else }}
                            <span>
                                <a href="{{ $author.url }}">{{ $author.name }}</a>
                            </span>
                            {{ end }}

                            {{ if ne (add $index 1) (len $sortedAuthors) }},{{ end }}
                            {{ end }}
                        </div>

                        <div class="">
                            {{ range $index, $paper := .Params.Paper }}
                            <strong>
                                <a href="{{ $paper.url}}"> {{ $paper.venue }}</a>
                            </strong>
                            {{ end }}
                        </div>
                    </div>

                    <div class="btn-links">
                        {{ range .Params.buttons }}
                        {{ if eq .name "Cite" }}
                        <button type="button" class="btn btn-outline-primary my-1 mr-1 btn-sm js-cite-modal"
                            data-filename="{{ .url }}">
                            {{ .name }}
                        </button>
                        {{ else }}
                        <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="{{ .url }}" target="_blank"
                            rel="noopener">
                            {{ .name }}
                        </a>
                        {{ end }}
                        {{ end }}
                    </div>


                </div>
                <div class="ml-3">
                    <a href="{{ .Params.projecturl }}">
                        <img src="{{ .RelPermalink }}{{ .Params.teaser }}" itemprop="image">
                    </a>

                </div>
            </div>
            {{ end }}
            {{ end }}


        </div>
    </div>
</div>