{{ define "main" }}
<span class="js-widget-page d-none"></span>

<section id="about" class="home-section wg-about   ">
    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-4">
                <div id="profile">

                    <img class="avatar avatar-circle" src="{{ .Site.Data.admin.author.picture }}" alt="Avatar">

                    <div class="portrait-title">
                        <h2></h2>
                        <h3>{{.Params.description}}</h3>

                        {{ range .Params.organizations }}
                        <h3>
                            <a href="{{ .url }}" target="_blank" rel="noopener">
                                <span>{{ .name }}</span>
                            </a>
                        </h3>
                        {{ end }}
                    </div>

                    <ul class="network-icon" aria-hidden="true">
                        {{ range .Params.social }}
                        <li>
                            <a href="{{ .link }}" target="_blank" rel="noopener">
                                {{ if eq .icon_pack "fas" }}
                                <i class="fas fa-{{ .icon }} big-icon"></i>
                                {{ else if eq .icon_pack "ai" }}
                                <i class="ai ai-{{ .icon }} big-icon"></i>
                                {{ else if eq .icon_pack "fab" }}
                                <i class="fab fa-{{ .icon }} big-icon"></i>
                                {{ end }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-8" style="text-align: justify;">

                <h1>{{.Params.title | safeHTML}}</h1>
                {{.Content | safeHTML}}
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="publications" class="home-section wg-pages   ">
    <div class="container">

        <div class="row ">

            <div class="col-12 col-lg-4 section-heading">
                <h1>Publications</h1>

            </div>

            <div class="col-12 col-lg-8">

                <div class="media stream-item" itemscope itemtype="http://schema.org/ScholarlyArticle">
                    <div class="media-body">

                        <h3 class="article-title mb-0 mt-0" itemprop="name">
                            <a href="/publication/phd_thesis/" itemprop="url">Self-Supervised Shape and Appearance
                                Modeling via Neural Differentiable Graphics</a>
                        </h3>

                        <div class="stream-meta article-metadata">

                            <div itemprop="author">

                                <span class="author-highlighted">
                                    <a href="/">Philipp Henzler</a>
                                </span>
                            </div>

                            <div class="">
                                <strong>
                                    <a href="https://discovery.ucl.ac.uk/id/eprint/10169117/"> University College
                                        London (UCL), PhD thesis, 2023</a>
                                </strong>
                            </div>
                        </div>

                        <div class="btn-links">

                            <a class="btn btn-outline-primary my-1 mr-1 btn-sm"
                                href="https://discovery.ucl.ac.uk/id/eprint/10169117/7/Henzler_10169117_Thesis_sig_removed.pdf"
                                target="_blank" rel="noopener">
                                PDF
                            </a>

                            <a class="btn btn-outline-primary my-1 mr-1 btn-sm"
                                href="https://discovery.ucl.ac.uk/id/eprint/10169117/" target="_blank" rel="noopener">
                                Project
                            </a>

                        </div>

                    </div>
                    <div class="ml-3">

                        <a href="/publication/phd_thesis/">
                            <img src="/publication/phd_thesis/thumbnail_hu1d9750ab7508e6c15facaddfedb81fc3_17008_150x0_resize_q90_lanczos.jpg"
                                itemprop="image">
                        </a>

                    </div>
                </div>

                <div class="media stream-item" itemscope itemtype="http://schema.org/ScholarlyArticle">
                    <div class="media-body">

                        <h3 class="article-title mb-0 mt-0" itemprop="name">
                            <a href="/publication/common_3d_objects/" itemprop="url">Common Objects in 3D:
                                Large-Scale Learning and Evaluation of Real-life 3D Category Reconstruction</a>
                        </h3>

                        <div class="stream-meta article-metadata">

                            <div itemprop="author">

                                <span>
                                    <a href="https://en-gb.facebook.com/jeremy.reizenstein">Jeremy Reizenstein</a>
                                </span>
                                ,
                                <span>
                                    <a href="http://shapovalov.ro/">Roman Shapovalov</a>
                                </span>
                                ,
                                <span class="author-highlighted">
                                    <a href="/">Philipp Henzler</a>
                                </span>
                                ,
                                <span>
                                    <a href="https://www.linkedin.com/in/lucasbordone/">Luca Sbodorne</a>
                                </span>
                                ,
                                <span>
                                    <a href="https://fr.linkedin.com/in/patricklabatut/">Patrick Labatut</a>
                                </span>
                                ,
                                <span>
                                    <a href="https://d-novotny.github.io/">David Novotny</a>
                                </span>
                            </div>

                            <div class="">
                                <strong>
                                    <a href="http://iccv2021.thecvf.com/home"> ICCV 2021 (Oral, Best Paper Honorable
                                        Mention)</a>
                                </strong>
                            </div>
                        </div>

                        <div class="btn-links">

                            <a class="btn btn-outline-primary my-1 mr-1 btn-sm"
                                href="https://arxiv.org/pdf/2109.00512.pdf" target="_blank" rel="noopener">
                                PDF
                            </a>

                            <button type="button" class="btn btn-outline-primary my-1 mr-1 btn-sm js-cite-modal"
                                data-filename="/publication/common_3d_objects/cite.bib">
                                Cite
                            </button>

                            <a class="btn btn-outline-primary my-1 mr-1 btn-sm"
                                href="https://github.com/facebookresearch/co3d" target="_blank" rel="noopener">
                                Code
                            </a>

                            <a class="btn btn-outline-primary my-1 mr-1 btn-sm"
                                href="https://ai.facebook.com/datasets/co3d-downloads/" target="_blank" rel="noopener">
                                Dataset
                            </a>

                            <a class="btn btn-outline-primary my-1 mr-1 btn-sm"
                                href="https://ai.facebook.com/datasets/CO3D-dataset/" target="_blank" rel="noopener">
                                Project
                            </a>

                        </div>

                    </div>
                    <div class="ml-3">

                        <a href="/publication/common_3d_objects/">
                            <img src="/publication/common_3d_objects/thumbnail_hu71e817dee8c7aea31e74f8524046c2b9_90688_150x0_resize_q90_lanczos.jpg"
                                itemprop="image">
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{ end }}